<form #frm1="ngForm" (ngSubmit)="xulyDN(frm1.value)"  >
    <div class="container" >
      <p>Xin hãy nhập biểu mẫu bên dưới để đăng nhập.</p>
      <hr>
     <label for="username" ><b>UserName</b></label>
      <input type="text" [(ngModel)]="username" required minlength="6" name="un" #loiun="ngModel">
      <em *ngIf="loiun.invalid" class="text-danger">
        Nhập tên  chưa đủ kí tự hoặc chưa nhập .
    </em> <br>
     <label for="psw"><b>Mật Khẩu</b></label>
      <input type="password"  [(ngModel)]="password" required minlength="6" name="pw" #loipw="ngModel">
      <em *ngIf="loipw.invalid" class="text-danger">
        Nhập mật khẩu chưa đủ độ dài hoặc chưa nhập .
    </em> <br>
     <div class="clearfix">
        <button type="submit" class="signupbtn">Đăng Nhập</button>
      </div>
    </div>
  </form>