<div class="col-div-8">
  <div class="box-8">
    <div class="content-box">
      <p>Danh sách nhân viên <span><a style="border-radius: 6px;
            box-sizing: border-box;
            color:  linear-gradient(135deg, #008aff, #86d472);;
            display: block;
            font-size: 1.4em;
            font-weight: 600;
            padding: 4px;
            position: relative;
            text-decoration: none;
            z-index: 2;" routerLink="/nvthem">Nhập thêm</a></span></p>
      <!-- <form class="d-flex" role="search" style="width:50%">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tk" [(ngModel)]="tukhoa" (keyup)="locNV()" >
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
      <br />
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Ngày</th>
            <th>Giới tính</th>
            <th>Khu vực</th>
            <th>Trạng Thái</th>
          </tr>
        </thead>
        <tbody *ngFor="let show of listNhanVien; let i= index">
          <td> {{i+1}} </td>
          <td>{{show.tenNV}}</td>
          <td> {{show.ngayNV| date:'dd/MM/yyyy'}}</td>
          <td> {{show.phai == true ?'Nam' : 'Nữ'}}</td>
          <td> {{show.khuvuc==1?'Bắc':show.khuvuc==2?'Trung':'Nam'}}</td>
          <td style="padding: 10px 40px;">
            <a href=""  (click)="xoaNV(show.id)" style="text-decoration: none; color: red;"><i>Xóa</i></a>
            <br>
            <a href="" [routerLink]="['/nvsua', show.id]"style="text-decoration: none; color: red;"><i>Sửa</i></a>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style="color: #ddd; text-align: center;"> Có <b style="font-size: 20px;">{{listNhanVien.length}}</b> nhân viên
  trong danh sách</div>